{% doc %}
  Renders a header drawer mega menu.

  @param {string} [class] - Additional classes to add to the drawer

  @example
  {% render 'amb-header-drawer', linklist: block.settings.menu, class: 'header__drawer--mobile' %}
{% enddoc %}

<script src="{{ 'header-drawer.js' | asset_url }}" type="module"></script>

<header-drawer class="header-drawer amb--header__drawer {{ class }}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container" ref="details" scroll-lock>
    <summary
      class="header__icon header__icon--menu header__icon--summary"
      aria-label="{{ 'accessibility.menu' | t }}"
      on:click="/toggle"
    >
      <span class="svg-wrapper header-drawer-icon header-drawer-icon--open">
        {{- 'icon-menu.svg' | inline_asset_content -}}
      </span>
      <span class="svg-wrapper header-drawer-icon header-drawer-icon--close">
        {{- 'icon-close.svg' | inline_asset_content -}}
      </span>
    </summary>
    <div data-header-drawer class="menu-drawer motion-reduce color-{{ settings.drawer_color_scheme }}">
      <nav class="menu-drawer__navigation">
        <ul class="menu-drawer__menu has-submenu list-menu" role="list">
          {%- for link in linklist.links -%}
            <li>
              {%- if link.links != blank -%}
                <details id="Details-menu-drawer-menu-item-{{ forloop.index }}" class="menu-drawer__menu-container">
                  <summary
                    id="HeaderDrawer-{{ link.handle }}"
                    class="menu-drawer__menu-item menu-drawer__menu-item--mainlist menu-drawer__animated-element focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                    on:click="header-drawer/open"
                  >
                    {{ link.title | escape }}
                    <span class="svg-wrapper">{{- 'icon-caret.svg' | inline_asset_content -}}</span>
                  </summary>
                  <div
                    id="menu-drawer__submenu-{{ forloop.index }}"
                    class="menu-drawer__submenu has-submenu gradient motion-reduce"
                    tabindex="-1"
                  >
                    <div class="menu-drawer__inner-submenu">
                      <div class="menu-drawer__nav-buttons">
                        <button
                          class="button menu-drawer__back-button focus-inset"
                          aria-expanded="true"
                          on:click="header-drawer/back"
                          aria-label="{{ 'actions.back' | t }}"
                        >
                          <span class="svg-wrapper">{{- 'icon-arrow.svg' | inline_asset_content -}}</span>
                          {{ link.title | escape }}
                        </button>
                      </div>
                      <ul class="menu-drawer__menu list-menu menu-drawer__menu--level-2" role="list" tabindex="-1">
                        {%- for childlink in link.links -%}
                          {% liquid
                            if childlink.object.object_type == 'article'
                              assign show_content_on_mega_menu = true
                              assign content_text = childlink.object.metafields.amb.mega_menu_label | escape
                              assign content_img = childlink.object.image
                            else
                              assign collection = childlink.object
                              assign show_content_on_mega_menu = false
                              assign content_text = collection.metafields.amb.mega_menu_text | escape | default: childlink.title
                              assign content_text_position = collection.metafields.amb.mega_menu_text_position | escape | downcase
                              assign content_text_color = collection.metafields.amb.mega_menu_text_color | escape | downcase
                              assign content_img = collection.metafields.amb.mega_menu_image

                              if collection.metafields.amb.show_content_on_mega_menu
                                assign show_content_on_mega_menu = true
                              endif
                            endif

                            assign content_classes = 'menu-drawer__menu-item menu-drawer__menu-item--content link link--text list-menu__item focus-inset'

                            if childlink.current
                              assign content_classes = content_classes | append: ' menu-drawer__menu-item--active'
                            endif
                            if content_text_position == 'on top'
                              assign content_classes = content_classes | append: ' mega-menu__link__content--top'
                            endif
                            if content_text_color == 'light'
                              assign content_classes = content_classes | append: ' mega-menu__link__content--light'
                            endif
                          %}

                          <li
                            {% if show_content_on_mega_menu and content_img != blank %}
                              class="menu-level-2--content" style="width:50%"
                            {% endif %}
                          >
                            {% if show_content_on_mega_menu and content_img != blank %}
                              <a
                                id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                href="{{ childlink.url }}"
                                class="{{ content_classes }}"
                                {% if childlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                <img
                                  src="{{ content_img | image_url }}"
                                  width="100%"
                                  height="auto"
                                  class="mega__content__image"
                                >
                                <span class="mega__content__text">{{ content_text }}</span>
                              </a>
                            {% else %}
                              <a
                                id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                href="{{ childlink.url }}"
                                class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                {% if childlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ childlink.title | escape }}
                              </a>
                            {% endif %}
                            {%- if childlink.links != blank -%}
                              <ul class="menu-drawer__menu list-menu menu-drawer__menu--level-3">
                                {%- for grandchildlink in childlink.links -%}
                                  {% liquid
                                    assign third_level_collection = grandchildlink.object
                                    assign link_icon = third_level_collection.metafields.amb.collection_icon
                                  %}
                                  <li>
                                    <a
                                      id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                      href="{{ grandchildlink.url }}"
                                      class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                      {% if grandchildlink.current %}
                                        aria-current="page"
                                      {% endif %}
                                    >
                                      {% if link_icon != blank %}
                                        <img
                                          srcset="{{ link_icon | image_url }}"
                                          src="{{ link_icon | image_url: width: 50 }}"
                                          width="32"
                                          height="32"
                                          class="mega-menu__link__icon"
                                        >
                                      {% endif %}
                                      {{ grandchildlink.title | escape }}
                                    </a>
                                  </li>
                                {%- endfor -%}
                              </ul>
                            {%- endif -%}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  </div>
                </details>
              {%- else -%}
                <a
                  id="HeaderDrawer-{{ link.handle }}"
                  href="{{ link.url }}"
                  class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                  {% if link.current %}
                    aria-current="page"
                  {% endif %}
                >
                  {{ link.title | escape }}
                </a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      </nav>
      <div class="menu-drawer__utility-links">
        {%- if shop.customer_accounts_enabled -%}
          <a
            href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
            class="menu-drawer__account link focus-inset h5 medium-hide large-up-hide"
          >
            {%- if section.settings.enable_customer_avatar -%}
              <account-icon>
                {%- if customer and customer.has_avatar? -%}
                  {{ customer | avatar }}
                {%- else -%}
                  <span class="svg-wrapper">{{- 'icon-account.svg' | inline_asset_content -}}</span>
                {%- endif -%}
              </account-icon>
            {%- else -%}
              <span class="svg-wrapper">{{- 'icon-account.svg' | inline_asset_content -}}</span>
            {%- endif -%}
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </a>
        {%- endif -%}
        {%- if localization.available_countries or localization.available_languages -%}
          <div class="menu-drawer__localization header-localization">
            {%- if localization.available_countries and localization.available_countries.size > 1 -%}
              <localization-form>
                {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                  <div>
                    <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                      {{ 'localization.country_label' | t }}
                    </h2>
                    {% comment %} {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%} {% endcomment %}
                  </div>
                {%- endform -%}
              </localization-form>
            {% endif %}
            {%- if localization.available_languages and localization.available_languages.size > 1 -%}
              <localization-form>
                {%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}
                  <div>
                    <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                      {{ 'localization.language_label' | t }}
                    </h2>
                    {% comment %} {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%} {% endcomment %}
                  </div>
                {%- endform -%}
              </localization-form>
            {%- endif -%}
          </div>
        {%- endif -%}
        <ul class="list list-social list-unstyled" role="list">
          {%- if settings.social_twitter_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                <span class="svg-wrapper">{{- 'icon-twitter.svg' | inline_asset_content -}}</span>
                <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_facebook_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                <span class="svg-wrapper">{{- 'icon-facebook.svg' | inline_asset_content -}}</span>
                <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_pinterest_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                <span class="svg-wrapper">{{- 'icon-pinterest.svg' | inline_asset_content -}}</span>
                <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_instagram_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                <span class="svg-wrapper">{{- 'icon-instagram.svg' | inline_asset_content -}}</span>
                <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_tiktok_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                <span class="svg-wrapper">{{- 'icon-tiktok.svg' | inline_asset_content -}}</span>
                <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_tumblr_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                <span class="svg-wrapper">{{- 'icon-tumblr.svg' | inline_asset_content -}}</span>
                <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_snapchat_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                <span class="svg-wrapper">{{- 'icon-snapchat.svg' | inline_asset_content -}}</span>
                <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_youtube_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                <span class="svg-wrapper">{{- 'icon-youtube.svg' | inline_asset_content -}}</span>
                <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_vimeo_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                <span class="svg-wrapper">{{- 'icon-vimeo.svg' | inline_asset_content -}}</span>
                <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
              </a>
            </li>
          {%- endif -%}
        </ul>
      </div>
    </div>
  </details>
</header-drawer>

{% stylesheet %}
  .amb--header__drawer {
    --drawer-mega-height: calc(var(--drawer-height) - 58px);

    .menu-drawer {
      height: var(--drawer-mega-height);
      width: 100%;
      top: auto;
      bottom: 0;
      filter: drop-shadow(0 30px 0px #121212);
    }

    .menu-drawer__navigation {
      padding-top: 20px;
    }

    .menu-drawer__menu-item--mainlist {
      --menu-top-level-font-size: 14px;
    }

    .menu-drawer__back-button {
      border-bottom: 1px solid #f4f4f4;
      font-size: 14px;
      font-weight: bold;

      .svg-wrapper {
        transform: rotate(180deg);

        svg {
          width: auto;
          height: 20px;
        }
      }
    }

    .menu-drawer__menu-item {
      text-align: left;
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;

      .svg-wrapper {
        padding: 0;
        transform: rotate(-90deg);

        svg {
          width: 12px;
          height: 12px;
        }
      }
    }

    > .menu-drawer__menu {
      > li {
        > a.menu-drawer__menu-item,
        > details > summary.menu-drawer__menu-item--mainlist {
          height: 40px;
          min-height: 40px;
          display: flex;
          align-items: center;
          box-sizing: border-box;
        }
      }
    }

    .menu-drawer__menu {
      .menu-drawer__menu a,
      .menu-drawer__menu summary {
        text-transform: uppercase;
      }

      &.menu-drawer__menu--level-2 {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        > li.menu-level-2--content {
          width: 50%;
          max-width: 50%;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0 5px;
        }

        > li:not(.menu-level-2--content) {
          width: 100%;
          max-width: 100%;
          box-sizing: border-box;
        }

        > li > a.menu-drawer__menu-item {
          font-weight: bold;
        }
      }

      &.menu-drawer__menu--level-3 {
        padding-left: 0;
        margin-left: 0;

        > li > a.menu-drawer__menu-item {
          padding-left: 0;
          margin-left: 0;
        }
      }
    }

    .menu-drawer__submenu {
      height: var(--drawer-mega-height);
    }

    .menu-drawer__menu-item--content {
      display: flex;
      flex-direction: column;
      height: auto;
    }

    .mega__content__image {
      width: 100%;
      height: auto;
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: center;
      display: block;
    }

    .mega__content__text {
      display: block;
      text-align: center;
      margin-top: 10px;
      font-size: 14px;
      font-weight: bold;
    }

    .mega-menu__link__content--top .mega__content__text {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      transform: none;
    }

    .mega-menu__link__content--light .mega__content__text {
      color: #fff;
    }
    /* Custom override for menu-drawer level 3 icon + text spacing and height */
    .menu-drawer__menu .menu-drawer__menu--level-3 .menu-drawer__menu-item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    .menu-drawer__menu .menu-drawer__menu--level-3 .mega-menu__link__icon {
      margin-right: 6px;
      flex-shrink: 0;
    }
    .menu-drawer__menu .menu-drawer__menu-item:not(.menu-drawer__menu-item--content) {
      min-height: 40px;
    }
  }
{% endstylesheet %}
